<div>
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">TODO</h1>
      <div class="input-group-prepend">
        <input type="text" name="todo" class="form-control" placeholder="new todo" ngModel #in>
        <span (click)="addNew(in)" class="input-group-text">ADD</span>
        <div class="data">
          <ol class="list-instyled">
            <li *ngFor="let toDo of toDoList">{{toDo}}</li>
          </ol>
        </div>
      </div>

    </div>
  </form>
</div>